
<!DOCTYPE html>
<html lang="en">

<head>
    <title>ICU soon</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../appointment.css">
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Righteous&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Merienda:wght@700&family=Righteous&display=swap">
    <link href="https://fonts.googleapis.com/css2?family=Arvo:ital@1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    script(type="text/javascript" src="/form_doctor.js") 
</head>

<body>
    //- <nav>
    //-     <input type="checkbox" id="check">

    //-     <label for="check" class="checkbtn">
    //-         <i class="fas fa-bars"></i>
    //-     </label>
    //-     <ul>
    //-         <li><a class="active" href="P1doc.html">Home</a></li>
    //-         <li><a href="#">Services & Condition</a></li>
    //-         <li><a href="#">Contact Us</a></li>
    //-         <li><a href="#" class="em">Emergency</a></li>
    //-         <li><a href="form.html" class="signin">Sign up/Log in</a></li>
    //-     </ul>
    //-     <div class="logo">
    //-         <img src="pimg/logopro.png" alt="ICU soon">
    //-     </div>

    nav
        input(type="checkbox" id="check")
        label(for="check" class="checkbtn")
            i(class="fas fa-bars")
        ul 
            li 
                if(!isValidated)
                    a(class="active" href="/") Home
                -else{
                    -const url = "user/" + _id;
                    a(class="active" href=url) Profile
                -}
            li 
                a(href="#") Services & Conditions
            li 
                a(href="#" class="em") Notifications  
            li 
                a(href="#") Contact Us 
            li 
                if(!isValidated)
                    a(href="authenticate" class="signin") Sign up/Log in
                else 
                    a(href="authenticate/logout" class="signin") Logout
        div(class="logo")
            a(href="/") 
                img(src="/pimg/logopro.png" alt="ICU soon")

    //- include navigation.pug
    
    <section class="s1">
        <div class="s1_box">
            <div class="ba">
                Book appointment
            </div>
            <div class="ba_line">
                Choose from the best doctors in your city, Book now!!
                <p>______________________________________________________</p>
            </div>
            <form class="form" action="" method="GET">
                <h1>Lets get started, select your city</h1><br>

                //- <div class="select">
                //-     <select name="format" id="format">
                //-         <option selected >Select city</option>
                //-         <option value="Chandi">Chandigarh</option>
                //-         <option value="Delhi">Delhi</option>
                //-         <option value="jaipur">Bihar</option>
                //-         <option value="kanpur">Jharkhand</option>
                //-         <option value="mumbai">Mumbai</option>
                //-         <option value="ranchi">Ranchi</option>
                //-     </select>
                //- </div>

                <div class="select">
                <span class="details"><b>State:</b></span>
                <select name="country" id="country" onchange="setStates();">
                <option value="Punjab">Punjab</option>
                    <option value="Jharkhand">Jharkhand</option>
                    <option value="Bihar">Bihar</option>
                </select>
                </div>

                <div class="input-box select">
                <span class="details details2"><b>City:</b></span>
                <select name="state" id="state" ;>
                    <option value="">Select a City</option>
                </select>
                </div>

                //- <form action="" method="GET">
                <div class="button">
                    <input type="submit" id="filter" value="Search">
                    a(href="/appointment" class="clear_filter") Clear
                </div>      
                //- </form>

            </form>
        </div>
        <div class="s1_img">
            <img src="/pimg/BookA3.png" alt="" height="430" width="740">
        </div>
    </section>

    //- Function to convert 24hour time to 12 hour time format
    -
     function tConvert (time) {
        // Check correct time format and split into components
        time = time.toString ().match (/^([01]\d|2[0-3])(:)([0-5]\d)(:[0-5]\d)?$/) || [time];

        if (time.length > 1) { // If time format correct
            time = time.slice (1);  // Remove full string match value
            time[5] = +time[0] < 12 ? ' AM' : ' PM'; // Set AM/PM
            time[0] = +time[0] % 12 || 12; // Adjust hours
        }
        return time.join (''); // return adjusted time or original string
        }
    
    -let mb='0px';
    -if(result.length == 0)
        -mb = '50px';

    p(style=`font-size: 25px; margin-left: 35px; margin-top: 20px; margin-bottom:${mb}`)= result.length + " results found.."
    -for(let i=0; i<result.length; i++) {
        -let x = `https://source.unsplash.com/random/32${i}x316`;
        section(class="s2" id=`s2_${i}`)
            <div class="s2_img">
                //- <img src="pimg/BAdoc1.jpg" alt="">
                //- img(src="https://source.unsplash.com/random", alt="")
                img(src=x)
            </div>
            -let id = "/appointment/" + result[i].registration_id
            a(href=id)  
                <div class="s2_box">
                    h1(style="display:inline-block;")= result[i].first_name +  "    " + result[i].last_name
                    <div class="star">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>

                    </div>

                    h3
                        u &#187; Fees: 
                        | &nbsp; 
                        = "Rs " + result[i].fee
                    h3
                        u &#187; Contact no: 
                        | &nbsp; 
                        = result[i].contact_number    
                    h3
                        u &#187; Availability: 
                        | &nbsp; 
                        -let time =tConvert(result[i].available_from.slice(0,-3)) + " - " + tConvert(result[i].available_till.slice(0,-3))
                        = time
                    h3
                        u &#187; Address: 
                        | &nbsp; 
                        = result[i].clinic_name + ", " + result[i].city + ", " + result[i].state + ", " + result[i].pin_code
                    p= result[i].description

                    //- <h3><u> &#187; Contact no:</u>= result[0].fee 8195776202</h3>
                    //- <h3><u> &#187; City:</u>Chandigarh - 121010</h3>
                    //- <h3><u> &#187; Address:</u>
                    //-     Bajaj Clinic, Street no. 12, Chandigarh</h3>
                    //- <p>Specialized in childhood medicine, or those under 18. Oversee the health and development of
                    //-     babies and children. They administer vaccines. keep track of a child's growth, and are the first
                    //-     contact when a child a sick.</p>
            </div>

        </section>
    -}

    //- -if(result.length == 0)
    //-             h1(style="height: 30vh; display:flex;align-items:center; justify-content:center;") No Data Found


</body>

</html>